name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Check Flake
        run: nix flake check

      - name: Lint
        run: nix develop --command bun run lint

      - name: Check Formatting
        run: nix develop --command bun run format:check

      - name: Type Check
        run: nix develop --command bun run type-check

      - name: Run Unit Tests
        run: nix develop --command bun run test:unit

      - name: Build Application
        run: nix develop --command bun run build
